* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
      background: url(https://images6.alphacoders.com/107/1072679.jpg) no-repeat;
      background-size: cover;
  }
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
 }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .banner{
      height: 640px;
      width: 268px;
      background: url("https://media.valorant-api.com/playercards/4dce4142-44bf-32e5-6f51-7e905389502c/largeart.png");
      background-size: cover;
  }
/* all text */
.text{
  font-size: 2rem;
  color: white;
}

/* for the form */
form{
  position: relative;
  width: 30rem;
  display: flex;
}
input{
  width: 100%;
  border:3px solid rgb(27, 162, 27);
  border-right: none;
  padding: 5px;
  height: 3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #c2d3cb99;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.609);
}
input:focus{
  color: #9DBFAF;
}
button{
 padding: 5px;
 font-size: 1.5rem;
 border:1px solid rgb(27, 162, 27);
 background: rgb(27, 162, 27);
 color: white;
 border-radius: 0 5px 5px 0;
 cursor: pointer;
 text-align: center;
}
