@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(https://images6.alphacoders.com/107/1072679.jpg) no-repeat;
  background-size: cover;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
}
.banner {
  min-width: 268px;
  min-height: calc(70%);
  background: url("https://media.valorant-api.com/playercards/4dce4142-44bf-32e5-6f51-7e905389502c/largeart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* all text */
.text {
  font-size: 2rem;
  color: white;
  padding: 5px;
  font-family: "Kdam Thmor Pro", sans-serif;
  background-color: rgb(45, 18, 18);
  border-radius: 10px 10px 0px 0px;
  height: 10%;
}
.name {
  border-radius: 0px;
}
.rr {
  border-radius: 0px 0px 10px 10px;
}
.player {
  width: fit-content;
  height: 80vh;
}
/* MMR arrows */
.fa-arrow-down {
  color: red;
}
.fa-arrow-up {
  color: green;
}

/* for the form */
form {
  position: relative;
  width: 30vw;
  display: flex;
}
input {
  width: 100%;
  border: 3px solid rgb(187, 48, 33);
  border-right: none;
  padding: 5px;
  height: 3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #c2d3cb99;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.609);
}
input:focus {
  color: #9dbfaf;
}
button {
  padding: 5px;
  font-size: 1.5rem;
  border: 1px solid rgb(187, 48, 33);
  background: rgb(187, 48, 33);
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  text-align: center;
}

/* RANK IMAGE */
.rank {
  width: 30vw;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  padding-top: 40px;
}
.rankpic {
  min-width: 230px;
}
