* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  min-width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  padding: 20px;
  background-color: purple;
  border-radius: 5px;
  border: black solid;
  border-width: 10px;
  margin: 5px;
  font-size: 5em;
}
.background {
  min-width: 50vw;
  max-width: 70vw;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
  margin: 5px;
  margin-bottom: 10px;
}
.text {
  font-size: 2rem;
}
